USE [master]
GO
/****** Object:  Database [BaseSala]    Script Date: 14/9/2026 14:15:49 ******/
CREATE DATABASE [BaseSala]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseSala', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseSala.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseSala_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseSala_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseSala].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseSala]
GO
/****** Object:  User [alumno]    Script Date: 14/9/2026 14:15:49 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 14/9/2026 14:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[HoraInicio] [datetime] NOT NULL,
	[IdSala] [int] NOT NULL,
	[EstadoActual] [varchar](50) NOT NULL,
	[NombreJugador] [varchar](50) NOT NULL,
	[Vidas] [int] NULL,
 CONSTRAINT [PK_Partida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 14/9/2026 14:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 14/9/2026 14:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[respuesta] [varchar](100) NOT NULL,
	[esCorrecta] [bit] NOT NULL,
	[idPregunta] [int] NOT NULL,
 CONSTRAINT [PK_Respuestas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 14/9/2026 14:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[IdSala] [int] NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Partida] ON 

INSERT [dbo].[Partida] ([Id], [FechaInicio], [HoraInicio], [IdSala], [EstadoActual], [NombreJugador], [Vidas]) VALUES (2, CAST(N'2026-08-27' AS Date), CAST(N'2026-08-27T13:46:31.943' AS DateTime), 1, N'curso', N'Wolframiotungsteno', 3)
INSERT [dbo].[Partida] ([Id], [FechaInicio], [HoraInicio], [IdSala], [EstadoActual], [NombreJugador], [Vidas]) VALUES (3, CAST(N'2026-09-14' AS Date), CAST(N'2026-09-14T13:43:48.183' AS DateTime), 1, N'curso', N't54r', 3)
INSERT [dbo].[Partida] ([Id], [FechaInicio], [HoraInicio], [IdSala], [EstadoActual], [NombreJugador], [Vidas]) VALUES (5, CAST(N'2026-09-14' AS Date), CAST(N'2026-09-14T13:54:36.390' AS DateTime), 1, N'curso', N'sadasd', 3)
SET IDENTITY_INSERT [dbo].[Partida] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([id], [pregunta]) VALUES (1, N'¿Qué movimiento artístico se caracterizó por el humanismo, la perspectiva y la búsqueda del equilibrio clásico?')
INSERT [dbo].[Preguntas] ([id], [pregunta]) VALUES (2, N'¿Qué civilización construyó el Coliseo en Roma?')
INSERT [dbo].[Preguntas] ([id], [pregunta]) VALUES (3, N'¿Quién pintó La Última Cena?')
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([id], [respuesta], [esCorrecta], [idPregunta]) VALUES (1, N'Renacimiento', 1, 1)
INSERT [dbo].[Respuestas] ([id], [respuesta], [esCorrecta], [idPregunta]) VALUES (2, N'Barroco', 0, 1)
INSERT [dbo].[Respuestas] ([id], [respuesta], [esCorrecta], [idPregunta]) VALUES (3, N'Romanticismo', 0, 1)
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
INSERT [dbo].[Sala] ([IdSala]) VALUES (1)
INSERT [dbo].[Sala] ([IdSala]) VALUES (2)
INSERT [dbo].[Sala] ([IdSala]) VALUES (3)
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Sala] FOREIGN KEY([IdSala])
REFERENCES [dbo].[Sala] ([IdSala])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Sala]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Preguntas] FOREIGN KEY([idPregunta])
REFERENCES [dbo].[Preguntas] ([id])
GO
ALTER TABLE [dbo].[Respuestas] CHECK CONSTRAINT [FK_Respuestas_Preguntas]
GO
USE [master]
GO
